.sidebar {
  width: 300px;
  height: 100%;
  transition: transform 0.3s ease;
  transform: translateX(0);
  border: 1px solid rgba(80, 80, 80, 0.7);
}

.sidebar.closed {
  transform: translateX(-300px);
}

.sidebar .toggle-button {
  position: absolute;
  top: 10px;
  right: -30px;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  cursor: pointer;
}

.sidebar.closed .toggle-button {
  right: 0;
}

.sidebar .toggle-button::before {
  content: "<<";
  color: black;
  transition: transform 0.3s ease;
}

.sidebar.closed .toggle-button::before {
  content: ">>";
  color: black;
  transform: translate(-50%, -50%) rotate(45deg);
}
.sidebar-item {
  display: flex;
  padding-right: 1rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(80, 80, 80, 0.7);
}
.sidebar-item__active_section {
  flex-basis: 10%;
  background-color: green;
  margin-right: 0.5rem;
  padding: 1rem;
}
